@page
<!DOCTYPE html>
<html style="width:100%; height:100%">
<head>
    <title>DevExpress Report Viewer</title>
    <link rel="stylesheet" href="~/dx/dist/designer-script.bundle.css" />
</head>
<body style="width:100%; height:100%; margin:0;">
<div style="width:100%; height: 100%" data-bind="dxReportDesigner: designerOptions">
</div>
<script src="~/dx/dist/designer-script.bundle.js"></script>
</body>
</html>