@page
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<!DOCTYPE html>
<html lang="de" style="width:100%; height:100%">
<head>
    <title>DevExpress Report Viewer</title>
    <link rel="stylesheet" href="~/dx/dist/viewer-script.bundle.css" />
</head>
<body style="width:100%; height:100%; margin:0;">
<div style="width:100%; height: 100%" data-bind="dxReportViewer: viewerOptions">
</div>
<script src="~/dx/dist/viewer-script.bundle.js"></script>
</body>
</html>
